.navbar {
    background:black;
}
.button {
    background-color: #bfb9f3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .mat-spacer{
    flex: 1 1 auto;
  }
.loginbox {
    width: 90%;
    background:  #aba3f1;
    color:cornsilk;
    top: 60%;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    padding: 30px 30px;
    height: fit-content;
  
}
.loginbox > h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
}

.loginbox > p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: capitalize;
}

.loginbox input {
    width: 100%;
    margin-bottom: 25px;
}

.loginbox input[type="text"], input[type="number"] ,input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    height: 30px;
   
    color: #fff;
    font-size: 20px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: black;
    color:cornsilk;
    width: 30%;
    font-size: 18px;
    border-radius: 20px;
    margin-left: 320px;
    margin-top: 20px;

}

.loginbox input[type="submit"]:hover:not([disabled]) {
    cursor: pointer;
    background: silver;
    color: black;
   
    transition-timing-function: ease-in-out;
}
